extends ./template/layout.jade
	
	
// --------------- Header -------------- //
block custom_header
	script(src='/js/part2.js')
	script(src='/js/blockchain.js')
	script(type='text/javascript').
		$(document).ready(function(){
			
		});
		
		
// --------------- Navigation Bar  -------------- //
block navpanel
	include ./template/nav_part2.jade
	
	
// --------------- Main Stuff  -------------- //
block content
	#contentPanel
		#loginContainer
			h1 Login
			hr


			form(method="POST" action="#" style="text-align: center;")
				p.hint
					!{bag.session.error_msg}
					br
					br
				p
					.hint Username
					input(type="text" placeholder="username" name="username" required)
				p
					.hint Password
					input(type="password" name="password" required)
				button(type="submit")#loginButton Login
		br
		br
		br
		#registerContainer
			h1 Register
			hr

			form(method="POST" action="#" style="text-align: center;")
				p.hint
					!{bag.session.reg_error_msg}
					!{bag.session.registration}
					br
					br
				p
					.hint Username
					input#register_username(type="text" placeholder="username" name="username" required)
				button(type="submit")#registerButton Register
				br
				br
				p.
					User roles are assigned through tags in the user name.  Include the string 'auditor' in your
					user name to register as that user type.  Everyone else is will be considered a regular user.
					Updates to the chaincode will remove this limitation in the future.

