#createPanel(hidden).panel
	h1 Create Paper
	hr
	
	#innerWrap
		span.fa.fa-file-text-o(style="font-size: 250px; float:left;")
		
		form(action="/create" method="POST")#createform
			legend 
				input(type="text" name="ticker" placeholder="TICKER")
			legend 
				select(name="par")
					option(value="100000")$100,000
					option(value="1000000")$1,000,000
					option(value="10000000")$10,000,000
			legend 
				select(name="qty")
					option 1
					option 5
					option 10
					option 11
			legend 
				select(name="discount")
					option(value="3.25") 3.25%
					option(value="7.35") 7.35%
					option(value="10.0") 10.0%
			legend 
				select(name="maturity")
					option 15
					option 30
					option 90
				span.hint days

			button(type="button")#submit
				span.fa.fa-check &nbsp;&nbsp;
				span CREATE