#tradePanel(hidden).panel
	h1 Trade Center
	hr
	
	br
	
	#openTrades
		br
		p
			span(style="font-weight:bold;") Account Balance: 
			span#accountBalance Loading from blockchain...
		br
		a.filter-button(href="#filterModal") Filter Trades
		br
		br
		#filterModal.modalDialog
			div
				.modal-header
					h2 Filter Trades
					hr
				.modal-content
					form#filterForm
						label(for="issuerFilter") ISSUER
						input#issuerFilter.watch-changes(type="text" name="issuer")
						br
						label(for="ownerFilter") OWNER
						input#ownerFilter.watch-changes(type="text" name="owner")
						br
						a.filter-button(href="#close" title="Close") Close
		table#tradesTable.tablesorter
			thead
				tr 
					TH DATE
					th CUSIP
					th TICKER
					th PAR
					th QTY 
					th DISCOUNT
					th MATURITY
					th ISSUER
					th OWNER
					th ACTION
			tbody#tradesBody
