#tradePanel(hidden).panel
	h1 Trade Center
	hr
	
	br
	
	#openTrades
		br
		p
			span(style="font-weight:bold;") Account Balance: 
			span#accountBalance Loading from blockchain...
		br
		a(href="#filterModal") Open Modal
		#filterModal.modalDialog
			div
				.modal-header
					a.close(href="#close" title="Close") X
					h2 Filter Trades
					hr
				.modal-content
					form#filterForm
						//
							label(for="cusipFilter") CUSIP
							input#cusipFilter.watch-changes(type="text" name="cusip")
							br
							label(for="tickerFilter") TICKER
							input#tickerFilter.watch-changes(type="text" name="ticker")
							br
							label(for="qtyFilter") QTY
							input#qtyFilter.watch-changes(type="number" name="qty" min=0)
							br
						label(for="issuerFilter") ISSUER
						input#issuerFilter.watch-changes(type="text" name="issuer")
						br
						label(for="ownerFilter") OWNER
						input#ownerFilter.watch-changes(type="text" name="owner")
						br
						input#createFilter.watch-changes(type="submit" name="create" value="Filter")
		table#tradesTable.tablesorter
			thead
				tr 
					TH DATE
					th CUSIP
					th TICKER
					th PAR
					th QTY 
					th DISCOUNT
					th MATURITY
					th ISSUER
					th OWNER
					th ACTION
			tbody#tradesBody
