#tradePanel(hidden).panel
	h1 Trade Center
	hr
	
	br
	
	#openTrades
		br
		
		table#tradesTable
			thead
				tr 
					TH DATE
					th CUSIP
					th TICKER
					th PAR
					th QTY 
					th DISCOUNT
					th MATURITY
					th ISSUER
			tbody#tradesBody
