#tradePanel(hidden).panel
	h1 Trade Center
	hr
	
	br
	
	#openTrades
		br
		
		p
			span(style="font-weight:bold;") Account Balance: 
			span#accountBalance Loading from blockchain...
		br
		
		table#tradesTable.tablesorter
			thead
				tr 
					TH DATE
					th CUSIP
					th TICKER
					th PAR
					th QTY 
					th DISCOUNT
					th MATURITY
					th ISSUER
					th OWNER
					th ACTION
			tbody#tradesBody
