#tradePanel(hidden).panel
	h1 Trade Center
	hr
	
	br
	#tradeModal.modalDialog
			div
				.modal-header
					h2 Filter Trades
					hr
				.modal-content
					form#tradeFilter
						label(for="trade_issuer") ISSUER
						input#trade_issuer.trade-filter(type="text" name="issuer")
						br
						label(for="trade_owner") OWNER
						input#trade_owner.trade-filter(type="text" name="owner")
						br
						label(for="trade_ticker") TICKER
						input#trade_ticker.trade-filter(type="text" name="ticker")
						br
						a.filter-button(href="#close" title="Close") Close
						
	#openTrades
		br
		p
			span(style="font-weight:bold;") Account Balance:
			span#accountBalance Loading from blockchain...
		br
		a.filter-button(href="#tradeModal") Filter Trades
		br
		br
		table#tradesTable.tablesorter
			thead
				tr 
					TH DATE
					th CUSIP
					th TICKER
					th PAR
					th QTY 
					th DISCOUNT
					th MATURITY
					th ISSUER
					th OWNER
					th ACTION
			tbody#tradesBody
