extends layout.pug
	
	
//- --------------- Header -------------- //
block custom_header
	script(type='text/javascript').
		$(document).ready(function(){
			
		});
		
		
//- --------------- Navigation Bar  -------------- //
block navpanel
	#logo R3?
	
	
//- --------------- Main Stuff  -------------- //
block content
	#contentPanel
		
		h1 Error: #{bag.error.status}
		center
			h2 #{bag.error.msg}
			
		hr